{% extends 'main/header.html' %}
{% load static %}

{% block section %}
<style>
    .sec {
        width: 100%;
    }
</style>

<section class="write_bg" align="center">
<div class="write_list_bg"></div>
<div class = 'write_list_all'>
    <p><h2 align="center"><b>리뷰 작성</h2><p>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        작성자<br><input type="text" readonly name="user_name" value="{{ user.username }}" style="width: 300px; height: 30px;"><p><p>  
        식당명<br> <input type="text" name="title" style="width: 300px; height: 30px;"><p>
        내용<br><textarea cols="40" rows="10" class="text_area" name='content'placeholder="텍스트를 입력해 주세요"></textarea><br>
        (띄어쓰기 줄바꿈 포함 <span id="counter">0</span> 자/250자)</p><hr>
       <!-- <div>
        <p>띄어쓰기 줄바꿈 제외
        <span id="counter_space">0</span> 자/100자</p>
        </div>-->
        이미지<br><input type="file" name="file" onchange="readURL(this)"><br>
        <img id="preview" src="#" width="300" height="200"><br><br><br>
                    <p><input class="btn btn-primary" type="submit" value="리뷰 작성 완료">
        <button type="button" class="btn btn-outline-secondary"onclick="history.back()">목록이동</button>
    </form>
</div>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script>
$('.text_area').keyup(function (e){
    var content = $(this).val();
    $('#counter').text(content.length); 
  
   // var redex = /\s/ig; 
    //var blank = $(this).val().toString().replace(redex, "").length; 
    //$('#counter_space').text(blank); 
});
</script>
{% endblock %}

  